{% extends "templates/partials/base.html" %}

{% block title %}{% parent %}{% endblock %}

{% block content %}

  <h1 class="typl8-giga">Gareth Trufitt</h1>
  <h2 class="typl8-beta">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit repellendus dicta accusantium? Dolore totam consectetur sunt quasi consequatur repellat laborum quisquam placeat natus ad. Nam quidem voluptatum veritatis distinctio nesciunt.</p>
  <h3 class="typl8-gamma">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit repellendus dicta accusantium? Dolore totam consectetur sunt quasi consequatur repellat laborum quisquam placeat natus ad. Nam quidem voluptatum veritatis distinctio nesciunt.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit repellendus dicta accusantium? Dolore totam consectetur sunt quasi consequatur repellat laborum quisquam placeat natus ad. Nam quidem voluptatum veritatis distinctio nesciunt.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit repellendus dicta accusantium? Dolore totam consectetur sunt quasi consequatur repellat laborum quisquam placeat natus ad. Nam quidem voluptatum veritatis distinctio nesciunt.</p>
  <h4 class="typl8-delta">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit repellendus dicta accusantium? Dolore totam consectetur sunt quasi consequatur repellat laborum quisquam placeat natus ad. Nam quidem voluptatum veritatis distinctio nesciunt.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit repellendus dicta accusantium? Dolore totam consectetur sunt quasi consequatur repellat laborum quisquam placeat natus ad. Nam quidem voluptatum veritatis distinctio nesciunt.</p>

{% endblock %}